# Archivos del sistema
.DS_Store
Thumbs.db

# Carpetas de entorno Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Archivos temporales de editores
.vscode/
.idea/

# Archivos temporales de Protégé
*.bak
*.tmp

# Datos brutos y pesados
/data_raw/*
!/data_raw/README.md

# Datos procesados (opcional ignorarlos si son grandes)
#/data_processed/*
!/data_processed/README.md

# Archivos de logs
*.log

# Archivos comprimidos
*.zip
*.tar.gz
